.result__content {
    margin: 0 auto;
    padding: 60px 15px;
    max-width: 1230px;
}

.result {
    /* text-alignプロパティは、文字だけでなく画像などに対しても使える */
    /* 文字の表示とテキストを真ん中に持ってくるために使用 */
    /* ブロック要素または表のセルボックス内におけるインラインレベルコンテンツの水平方向の配置を設定 */
    text-align: center;
}

.result__text_correct {
    color: #ff0000;
}

.result__text_incorrect {
    color: #0000ff;
}

/* < !-- 説明文の作成 表作成 --> */
.answer-table {
    border: 1px solid #ddd;
}

.answer-table__inner {
    width: 100%;
}

.answer-table__header {
    padding: 15px;
    width: 20%;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
    font-weight: bold;
}

.answer-table__text {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.answer-table__row:last-child .answer-table__header,
.answer-table__row:last-child .answer-table__text {
    border-bottom-width: 0;
}